<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Qunnect - Sign Up </title>
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{!-- fontawesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap core CSS -->
    <link href="/vendor/dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Swipe core CSS -->
    <link href="/vendor/dist/css/swipe.min.css" type="text/css" rel="stylesheet">
    <!-- Favicon -->
    <link href="/vendor/dist/img/favicon.png" type="image/png" rel="icon">
</head>

<body class="start">
    <main>
        <div class="layout">
            <!-- Start of Sign Up -->
            <div class="main order-md-2">
                <div class="start">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>Create Account</h1>
                                <div class="third-party" style="gap:5%;">
                                    <form action="/account/google" method="get" style="display: contents;">
                                        <button class="btn item bg-blue">
                                            <i class="fa-brands fa-google"></i>
                                        </button>
                                    </form>
                                    <form action="/account/facebook" method="get" style="display: contents;">
                                        <button class="btn item bg-teal">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </button>
                                    </form>

                                </div>
                                <p>or use your email for registration:</p>
                                <form class="signup" method="post" action="/account/sign-up"
                                    enctype='application/x-www-form-urlencoded'>
                                    <div class="form-group">
                                        <input type="text" name="fullname" id="fullname" class="form-control"
                                            placeholder="Full Name" required>
                                        <button class="btn icon" disabled="true"><i
                                                class="material-icons">person_outline</i></button>                                        
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="username" id="username" class="form-control"
                                            placeholder="Username" required>
                                        <button class="btn icon" disabled="true"><i
                                                class="material-icons">person_outline</i></button>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control"
                                            placeholder="Email Address" required>
                                        <button class="btn icon" disabled="true"><i
                                                class="material-icons">mail_outline</i></button>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control"
                                            placeholder="Password" required>
                                        <button class="btn icon" disabled="true"><i
                                                class="material-icons">lock_outline</i></button>
                                    </div>
                                    <button type="submit" class="btn button">Sign Up</button>
                                    <div class="callout">
                                        <span>Already a member? <a href="/account/login">Log In</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Sign Up -->
            <!-- Start of Sidebar -->
            <div class="aside order-md-1">
                <div class="container">
                    <div class="col-md-12">
                        <div class="preference">
                            <h2>Welcome Back!</h2>
                            <p>To keep connected with your friends please login with your personal info.</p>
                            <a href="/account/login" class="btn button">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Sidebar -->
        </div>
        <!-- Layout -->
    </main>



    <!-- Bootstrap core JavaScript
		================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/vendor/dist/js/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="/vendor/dist/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="/vendor/dist/js/vendor/popper.min.js"></script>
    <script src="/vendor/dist/js/bootstrap.min.js"></script>

</body>


</html>